<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Contact Us Form</h2>    
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="flash">{{message}}</li>
        {%endfor%}
    </ul>
    {% endif %}
    {% endwith %}

    <form action= "{{ url_for('contact_complete') }}"
            method="POST"
            novalidate="novalidate">
        <table>
            <tr>
                <td>User Name
                    <input type="text" 
                    name="username" 
                    value="{{ username }}"
                    placeholder="User Name"/>
                </td>         
            </tr>
            <tr>
                <td>E-Mail
                    <input type="text"
                    name="email"
                    value="{{ email }}"
                    placeholder="E-Mail"/>
                </td>
            </tr>
            <tr>
                <td>Contact Form
                    <textarea name="description" 
                    placeholder="Contact Us">{{description}}</textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="Contact">
    </form>
</body>
</html>